@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

h2{
    font-family: 'Source Code Pro', monospace;
}
.barra-titulo{
    border-bottom: 2px solid #4ba761;
}

.btn-outline-success{
    color:black !important;
  }